In [2]:
import pandas as pd
from streamlit_assets.components import get_recos_users

### Exploring movielens data for recos

In [9]:
criterion = pd.read_csv('data/criterion.csv')
movies = pd.read_csv('data/movielens/movies_metadata.csv')

C:\Users\EmileESMAILI\AppData\Local\Temp\ipykernel_14752\1242716275.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv('data/movielens/movies_metadata.csv')

In [6]:
criterion.head()

,Unnamed: 0,Title,Description,Director,Country,Year,Language,Image
0,0,2 or 3 Things I Know About Her,In2 or 3 Things I Know About Her(2 ou 3 choses...,Jean-Luc Godard,France,1967.0,French,https://s3.amazonaws.com/criterion-production/...
1,1,3:10 to Yuma,"In this beautifully shot, psychologically comp...",Delmer Daves,United States,1957.0,English,https://s3.amazonaws.com/criterion-production/...
2,2,3 Women,"In a dusty, underpopulated California resort t...",Robert Altman,United States,1977.0,English,https://s3.amazonaws.com/criterion-production/...
3,3,"4 Months, 3 Weeks and 2 Days",Romanian filmmaker Cristian Mungiu shot to int...,Cristian Mungiu,Romania,2007.0,Romanian,https://s3.amazonaws.com/criterion-production/...
4,4,8½,"Marcello Mastroianni plays Guido Anselmi, a di...",Federico Fellini,"Italy, ...",1963.0,"German, ...",https://s3.amazonaws.com/criterion-production/...

In [7]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [10]:
merged = movies.merge(criterion, left_on='title', right_on='Title')

In [11]:
merged.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,vote_average,vote_count,Unnamed: 0,Title,Description,Director,Country,Year,Language,Image
0,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,16420,tt0114057,en,Othello,The evil Iago pretends to be friend of Othello...,...,7.0,33.0,812,Othello,"Gloriously cinematic despite its tiny budget, ...",Orson Welles,United States,1952.0,English,https://s3.amazonaws.com/criterion-production/...
1,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,47697,tt0045251,en,Othello,"Desdemona, daughter of a Venetian aristocrat, ...",...,6.5,35.0,812,Othello,"Gloriously cinematic despite its tiny budget, ...",Orson Welles,United States,1952.0,English,https://s3.amazonaws.com/criterion-production/...
2,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,44006,tt0059555,en,Othello,The 1965 version of the Shakespeare play.,...,6.1,9.0,812,Othello,"Gloriously cinematic despite its tiny budget, ...",Orson Welles,United States,1952.0,English,https://s3.amazonaws.com/criterion-production/...
3,False,NaN,0,[],NaN,119928,tt0082861,en,Othello,Iago and a comrade-in-arms are outside the Ven...,...,9.5,2.0,812,Othello,"Gloriously cinematic despite its tiny budget, ...",Orson Welles,United States,1952.0,English,https://s3.amazonaws.com/criterion-production/...
4,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",NaN,31174,tt0114279,en,Richard III,Shakespeare's Play transplanted into a 1930s s...,...,6.9,50.0,905,Richard III,"InRichard III,director, producer, and star Lau...",Laurence Olivier,United Kingdom,1955.0,English,https://s3.amazonaws.com/criterion-production/...